.hero {
  width: 100%;
  text-align: center;
  height: 560px;
  background-color: #02B789;
  max-height: 512px;
  padding-bottom: 0;
}

.hero > .container {
  background: url('../../assets/images/background.png') no-repeat;
  background-position: bottom;
  background-size: 100% auto;
  height: 100%;
}

.hero img {
  margin: auto;
  height: auto;
  width: 100%;
}

.hero-text { 
  font-size: 30px;
  text-align: left;
  padding: 0;
  max-width: 470px;
  margin-top: 267px;
  font-weight: bold;
}

.hero-search {
  font-size: 30px;
  text-align: left;
  padding: 0;
  max-width: 470px;
  margin-top: 30px;
  height: 52px;
}