.home-title {
  margin-top: 60px;
  margin-bottom: 60px;

}

.home {
  font-size: 1.3rem;
}

h5 {
  font-size: 2rem;
  font-family: BrandonText-Bold;
}

.mission-vision {
  padding-bottom: 40px;
}
.mission-vision div h5{

  font-family: 'BrandonText-Regular', sans-serif;
  font-size: 25px;
}
.mission-vision-dital{

  font-family: 'BrandonText-Regular', sans-serif;
  font-size: 25px;

}
.mission-vision-dital-certificados{

  font-family: 'BrandonText-Regular', sans-serif;
  font-size: 20px;

}

.container {
  max-width: 950px !important;
}

.certificados {
  margin: 90px 0 50px 0;
}

.certificados > div {
  padding: 0;
}

h1{
  font-family: 'BrandonText-Black', sans-serif;
}

.certificados-logo {
  margin-top: 40px;
  text-align: center;
}

.certificados-logo p {
  margin-top: 10px;
}

.restaurante-greenest {
  padding: 116px 0;
  display: flex;
  background-color: #F1E4E8;
  margin-left: 0;
  margin-right: 0;
}

.restaurante-greenest h1 {
  max-width: 380px;
  margin-bottom: 30px;
}

.restaurante-greenest p {
  margin-bottom: 50px;
  font-size: 25px;
}

.home .btn-primary {
  border-color: transparent;
}

.restaurante-greenest .button-container {
  justify-content: center;
  display: flex;
}

.restaurante-greenest button {
  max-width: 300px;
  padding: 10px 40px;
  background-color: #6B2E5C;
}

.segue-restaurantes {
  padding: 116px 0;
  background-color: #F5CF47;
  margin-left: 0;
  margin-right: 0;
}

.segue-restaurantes h1 {
  max-width: 380px;
  margin-bottom: 50px;
}

.mobile-platforms {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
}

.mobile-platforms svg, .mobile-platforms img {
  max-height: 100px;
  cursor: pointer;
  top: 445px;
}

.mobile-platforms img {
  width: auto;
}
.mobile-platforms > .row {
  justify-content: center;
}

.contacta-nos {
  padding: 116px 0;
  margin-left: 0;
  margin-right: 0;
}

.contacts-row {
  margin-bottom: 20px;
}

.contacta-nos span {
  margin-left: 20px;
}
