@font-face {
  font-family: 'BrandonText-Regular';
  src: local('BrandonText-Regular'), url(./assets/fonts/BrandonText-Regular.otf) format('otf');
}

@font-face {
  font-family: 'BrandonText-Bold';
  src: local('BrandonText-Bold'), url(./assets/fonts/BrandonText-Bold.otf) format('otf');
}

@font-face {
  font-family: 'BrandonText-Black';
  src: local('BrandonText-Black'), url(./assets/fonts/BrandonText-Black.otf) format('otf');
}

* {
  font-family: BrandonText-Regular;
}
